.DS_Store
.venv

dist/
node_modules/

**/private_data/*
!**/private_data/

**/model_input/*
!**/model_input/

**/model_output/*
!**/model_output/

docs/.observablehq/

# temporarily hide public data during testing process
# **/public_data/*
# !**/public_data/

to-do.md